.b-cards {
	.grid  {
		.__card:nth-child(1) {
			background-color: var(--color-primary-50);
			border: 1px solid var(--color-primary-100);
		}
		.__card:nth-child(2) {
			background-color: var(--color-secondary-50);
			border: 1px solid var(--color-secondary-100);
		}
		.__card:nth-child(3) {
			background-color: var(--color-third-50);
			border: 1px solid var(--color-third-100);
		}
	}
}